# Dissimilarity Binary Symetric (Tugas 1)

In [ ]:
import pandas as pd
import numpy as np
CustSeg = pd.read_csv('https://raw.githubusercontent.com/NessaRNG/DataMining/main/TugasPendat/Test.csv')
CustSeg

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6
...,...,...,...,...,...,...,...,...,...,...
2622,467954,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6
2623,467958,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6
2624,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6
2625,467961,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4
2626,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7

In [ ]:
# Show all columns from dataframe
CustSeg.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Profession',
       'Work_Experience', 'Spending_Score', 'Family_Size', 'Var_1'],
      dtype='object')

#Seleksi Fitur

In [ ]:
CustSeg[['Gender', 'Graduated']].head(5)

   Gender Graduated
0  Female       Yes
1    Male       Yes
2  Female        No
3    Male        No
4  Female        No

Change Values to 1/0 Take all values of â€˜genderâ€™

If values is Female change to 1

If values is Male to 0

In [ ]:
# Gender code
gender_female = "female"
gender_male = "male"

# binary value
value_one = 1
value_zero = 0

def change_gender_to_binary(gender):
    return value_one if gender == gender_male else value_zero

Change Values to 1/0 Take all values of â€˜Graduatedâ€™

If values is Paid change to 1

If values is free to 0

In [ ]:
# lunch code
ever_graduated = "yes"
never_graduated = "no"

# binary value
value_one = 1
value_zero = 0

def change_graduation_to_binary(grad):
    return value_one if grad == never_graduated else value_zero

In [ ]:
# Update all values
CustSeg["Gender"] = CustSeg["Gender"].apply(change_gender_to_binary)
CustSeg["Graduated"] = CustSeg["Graduated"].apply(change_graduation_to_binary)

In [ ]:
CustSeg[['Gender', 'Graduated']].head(5)

   Gender  Graduated
0       0          0
1       0          0
2       0          0
3       0          0
4       0          0

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

PROBALITY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(CustSeg, idx, series):
    return CustSeg.loc[(idx), series]

In [ ]:
def dissimilarity_dataset(CustSeg, series_index = [], series = []):
    first_series = get_series(CustSeg, series_index[0], series)
    second_series = get_series(CustSeg, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
dissimilarity_dataset(CustSeg, [1,2], ["Gender", "Graduated"]).T

           1  2
Gender     0  0
Graduated  0  0

In [ ]:
CustSeg.loc[0:4, ["Gender", "Graduated"]]

   Gender  Graduated
0       0          0
1       0          0
2       0          0
3       0          0
4       0          0

In [ ]:
def count_probality_value(CustSeg, start_index = 0, last_index = 1):

    PROBALITY_VALUE = {"q" : 0, "r" : 0, "s" : 0, "t" : 0}

    column_range = CustSeg.shape[1]

    for column in range(column_range):
        for value in PROBALITY_TABLE_VALUE:
            item = list((tuple(CustSeg.loc[(start_index):(last_index), CustSeg.columns[column]]) == PROBALITY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    PROBALITY_VALUE["q"] += 1
                if item[1] == "r":
                    PROBALITY_VALUE["r"] += 1
                if item[1] == "s":
                    PROBALITY_VALUE["s"] += 1
                if item[1] == "t":
                    PROBALITY_VALUE["t"] += 1

    return PROBALITY_VALUE

In [ ]:
# dimensi (1,2)
dimensi_1_2 = dissimilarity_dataset(CustSeg, [1,2], ["Gender", "Graduated"])

In [ ]:
probality_d_1_2 = count_probality_value(dimensi_1_2, 1, 2)

In [ ]:
# dimensi (1,3)
dimensi_1_3 = dissimilarity_dataset(CustSeg, [1,3], ["Gender", "Graduated"])

In [ ]:
probality_d_1_3 = count_probality_value(dimensi_1_3, 1, 3)

In [ ]:
# dimensi (1,4)
dimensi_1_4 = dissimilarity_dataset(CustSeg, [1,4], ["Gender", "Graduated"])

In [ ]:
probality_d_1_4 = count_probality_value(dimensi_1_4, 1, 4)

#Dissimilarity Binary Symetric Value Formula

![image.png]()

In [ ]:
def dissimilarity_binary_symetric_distance(probality_value):
  
    return (probality_value["r"] + probality_value["s"]) / (probality_value["q"] + probality_value["r"] + probality_value["s"] + probality_value["t"])

In [ ]:
dimensi_1_2 = dissimilarity_binary_symetric_distance(probality_d_1_2)
dimensi_1_3 = dissimilarity_binary_symetric_distance(probality_d_1_3)
dimensi_1_4 = dissimilarity_binary_symetric_distance(probality_d_1_4)

In [ ]:
#d1 dan d2

dimensi_1_2

0.0

In [ ]:
# d1 dan d4

dimensi_1_3

0.0

In [ ]:
# d1 dan d4

dimensi_1_4

0.0